* {
    margin: 0;
    padding: 0;
    list-style: none;
}
.main_container {
    margin: 110px auto;
    height: 80%;
    max-width: 60%;
    min-width: 810px;
}
.top_container {
    display: flex;
    flex-direction: row;
}
.top_left_container {
    width: 50%;;
}
.left_title {
    font-family: 'PT Serif', serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
}
.top_right_container {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: 100px;
}
.right_title {
    font-family: 'Poppins', sans-serif;    
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
}
.right_text {
    font-family: 'Poppins', sans-serif;    
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    margin-top: 10px;
    width: 400px;
}
.images_container {
    display: flex;
    flex-direction: row;
    margin-top: 96px;
    flex-wrap: wrap;
}
.images_container > :nth-child(2), .images_container > :nth-child(5)  {
    transform: translate(15%, 100px);
}
.images_container > :nth-child(3), .images_container > :nth-child(6)  {
    transform: translateX(30%);
}

.card_item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 33%;
    margin-bottom: 130px;
}
.crew_image {
    border-radius: 10px;
    width: 70%;
    -webkit-box-shadow: 2px 2px 16px -4px #1F1F1F; 
    box-shadow: 2px 2px 16px -4px #1F1F1F;
}
.crew_role {
    font-family: 'PT Serif';
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    width: 20px;
    writing-mode: vertical-rl;
    text-transform: uppercase;
}
.crew_name {
    width: 100%;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    margin-top: 15px;
}

footer {
    bottom: 0px;
    width: 100%;
    text-align: center;
    background-color: white;
}
.footer_text {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
    margin-top: 24px;
    margin-bottom: 24px;
    color: #BDBDBD;
}
.username {
    text-decoration: underline;
    font-weight: 700;
}

@media only screen and (max-width: 980px) {
    .main_container {
        min-width: 0;
        max-width: 20000px;
        width: 80%;
        margin: 10px auto;
    }
    .top_container {
        flex-direction: column;
        margin-top: 70px;
        margin-left: 0;
    }
    .top_left_container {
        width: 100%; 
    }
    .top_right_container {
        width: 100%; 
        margin-left: 0;
        margin-top: 38px;
    }
    .right_text {
        width: auto;
        font-size: 14px;
    }
    .images_container {
        margin-top: 60px;
        margin-bottom: 70px;
    }
    .card_item {
        width: 50%;
        margin-bottom: 60px;
    }
    .images_container > :nth-child(even) {
        transform: translate(16%, 100px);
    }
    .images_container > :nth-child(odd) {
        transform: none;
    }
    .crew_image {
        width: 84%;
    }
    .crew_role {
        font-family: 10px;
    }
    .crew_name {
        font-size: 14px;
        line-height: 16px;
        margin-top: 10px;
    }
}